html{
    background: lightblue;
}

tbody{
    align: center
}

.complete{
    color: green
}

.incomplete{
    color: red
}

/* .delete-button:active .addButton:active .completeButton:active{
	top: 2px;
} */